<!DOCTYPE html>
<html lang="pl">
<a href="/">Nowe zlecenie, </a>
<a href="/nowa-trasa">Nowa trasa, </a>
<a href="/lista-tras">Lista aktywnych tras, </a>
<a href="/archiwum-zlecen">Archiwum zleceń, </a>
<a href="/archiwum-tras">Archiwum tras, </a>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista tras</title>
</head>
<body>
    <h1>Lista Aktywnych Tras</h1>
    <form method="POST">
        <table border="1">
            <thead>
                <tr>
                    <th>Nr Trasy</th>
                    <th>Samochód</th>
                    <th>Zlecenie 1</th>
                    <th>Zlecenie 2</th>
                    <th>Zlecenie 3</th>
                    <th>Zrealizowano</th>
                </tr>
            </thead>
            <tbody>
                {% for tour in tours %}
                <tr>
                    <td>{{ tour[0] }}</td>
                    <td>{{ tour[1] }}</td>
                    <td>{{ tour[2] }}</td>
                    <td>{{ tour[3] }}</td>
                    <td>{{ tour[4] }}</td>
                    <td>
                        <input type="checkbox" name="archive" value="{{ tour[0] }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button type="submit">Zapisz</button>
    </form>
</body>
</html>
